.reset{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.btn-reset{
    background: #000;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}